body {
    background-image: url(./pic/0608443d-d1a9-4740-bed4-ae3aa6a3fd37.jpg);
}

h1 {
    text-align:center;
    
    color: rgb(73, 9, 118);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
h2{
    text-align: center;

}

.Para1 {
    text-align: justify;
    position: relative;
    width: 50%;
    left: 25%;
    
}
li {
    text-decoration: underline;
    line-height: 1.25;
}

.info {
    text-align: center;
}

ol{
    text-align: center;
}

a {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.imgo{
    text-align: center;
}

img{
    width: 30px;
}

